<!--We add a copyright logo in the footer-->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2023 Copyright:
    <a href="/"> Ayush Thapa </a>
  </div>
  <!-- Copyright -->

</footer>

<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/appclient.js"></script>
</body>
</html>