<% include partials/header.ejs%> <% include partials/main_nav.ejs%>
<main class="container projects">
  <h1>Projects</h1>
  <div class="row">
      <!-- For each project, we use a col size md-4 -->
      <div class="col-md-4">
          <div class="project-card">
              <img
                  src="/assets/images/zipistic.png"
                  alt="Zipistic Brand"
                  class="img-fluid"
              />
              <h4>Zipistic</h4>
              <p>
                Zipistic is an e-commerce platform offering a diverse range of products. It is developed utilizing React.js, Node.js, TypeScript, and MongoDB technologies.
              </p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="project-card">
              <img
                  src="/assets/images/diamond.png"
                  alt="diamond hill resort "
                  class="img-fluid"
              />
              <h4>Diamond Hill Resort</h4>
              <p>
                "Diamond Hill Resort" is a dedicated resort website, providing comprehensive pricing details and room reservation capabilities. The application has been meticulously crafted using React.js, Node.js, TypeScript, and MongoDB technologies.
              </p>
          </div>
      </div>
      <div class="col-md-4">
          <div class="project-card">
              <img
                  src="/assets/images/eternal.png"
                  alt="Realstate Company"
                  class="img-fluid"
              />
              <h4>Eternal Nest</h4>
              <p>
                "Eternal Nest" is an AI-powered real estate application that offers predictive house price modeling and an immersive virtual tour functionality.
              </p>
          </div>
      </div>
  </div>
</main>
<% include partials/footer.ejs%>
