<% include partials/header.ejs%> <% include partials/main_nav.ejs%>
<section id="services" class="current">
  <div class="services-top">
      <div class="container">
          <div class="row text-center">
              <div class="col-sm-12">
                  <h1>Services</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-md-offset-1 col-md-10">
                  <div class="services-list">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="service-card">
                                  <div class="service-icon">
                                      <i class="fas fa-magic"></i>
                                  </div>
                                  <div class="service-details">
                                      <h4>Web Design</h4>
                                      <p>
                                        Collaborating cross-functionally with developers and stakeholders to ensure design execution aligns with project requisites and maintains stringent quality standards.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="service-card">
                                  <div class="service-icon">
                                      <i class="fas fa-code"></i>
                                  </div>
                                  <div class="service-details">
                                      <h4>Web Development</h4>
                                      <p>
                                        Professionally crafting responsive, user-centric websites with HTML, CSS, and JavaScript. Constructing robust backend solutions with server-side languages like Node.js and Python, leveraging frameworks like Express and Django.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="service-card">
                                  <div class="service-icon">
                                      <i class="fas fa-list-alt"></i>
                                  </div>
                                  <div class="service-details">
                                      <h4>Photoshop Editing</h4>
                                      <p>
                                        Creating top-tier graphics and visuals via Photoshop for digital and print media, upholding premium quality standards.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<% include partials/footer.ejs%>
